<h1>Burgs</h1>

<hr>

<h2>Burgs yet to be consumed</h2>

<ul>
  {{#each burgs}}
    {{#unless eaten}}
      {{> burgs/burg-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgs consumed</h2>

<ul>
  {{#each burgs}}
    {{#if eaten}}
      {{> burgs/burg-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burg</h2>

  <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">
          Burger adder
        </div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      
      <div class="window-body">
        
        <form class="create-form">

          <div class="form-group">
            <label for="bu">Burg Name:</label>
            <input type="text" id="bu" name="name">
          </div>


          {{!-- <div class="form-group">
            <label for="eaten">Eaten?</label><br>
            <input type="radio" name="eaten" value="1" checked> Eaten!<br>
            <input type="radio" name="eaten" value="0"> Uneaten
          </div> --}}

          <fieldset>
            <legend>Ate this burger before?</legend>
            <div class="field-row">
              <input id="radio1" type="radio" name="eaten" value="1">
              <label for="radio1">Eaten</label>
            </div>
            <div class="field-row">
              <input id="radio2" type="radio" name="eaten" value="0">
              <label for="radio2">Uneaten</label>
            </div>
          </fieldset>
        
        <section class="field-row" style="justify-content: flex-end">
          <button type="submit">Add burg</button>  
        </section>

        </form>
        
      
      </div>
    </div>
  
